version: "3.7"

services:
  app:
    container_name: app
    restart: always
    build:
      context: .
      dockerfile: docker/flask/Dockerfile
      args:
        - ENVIRONMENT=development
        - PORT=5000
    volumes:
      - .:/app
    ports:
      - 5000:5000
